.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(192, 71, 200);
  align-self: auto;
  margin-left: 16%;
  margin-right: 16%;
  font-size: larger;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: rgb(87, 81, 165);
  background: rgb(210, 112, 217);
  margin-top: -13px;
  margin-left: 16%;
  margin-right: 16%;
  padding: 2px;
}

.articles {
  display: flex;
  align-items: center;
  text-align: center;
  border: 2px;
  border-color: black;
  border-style: solid;
  background-color: aliceblue;
  margin-top: 5px;
  margin-left: 14.1%;
  margin-right: 16.3%;
}

.categories {
  align-items: center;
  font-size: 50px;
  list-style: none;
  margin-left: 40%;
}

.reviewImage {
  height: 500px;
  width: 500px
}