.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(69, 137, 172);
  align-self: auto;
  margin-left: 16%;
  margin-right: 16%;
  font-size: larger;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: rgb(87, 81, 165);
  background: rgb(59, 150, 196);
  margin-top: -13px;
  margin-left: 16%;
  margin-right: 16%;
  padding: 2px;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px;
  border-color: black;
  border-style: solid;
  background-color: rgb(98, 145, 168);
  margin-top: 5px;
  margin-left: 14.1%;
  margin-right: 16.3%;
}

.categories {
  align-items: center;
  font-size: 50px;
  list-style: none;
  margin-left: 40%;
}

.reviewImage {
  height: 500px;
  width: 500px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.reviews {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 2px;
  border-color: black;
  border-style: solid;
  background-color: rgb(98, 145, 168);
  margin-top: 5px;
  margin-left: 16%;
  margin-right: 16%;
}

.reviewHeader {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.comments {
  display: flex;
  flex-direction: column;
  border-style: solid;
  margin-left: 16%;
  margin-right: 16%;
  text-align: center;
  background-color: rgb(37, 100, 130);

}

.commentHead {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.CommentForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}